.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: auto;
    height: 50px;
}

.footer-text {
    font-size: 0.8rem;
    margin: auto 0;
}

.footer-links-container {
    display: flex;
    margin: auto 0;
}

.footer-link {
    text-decoration: none;
    margin: auto 0;
    color: #333;
    align-items: baseline;
}

.footer-icon-links {
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-icon {
    color: #333;
}